// стили выпадающего списка
.error {
  .v-select {
    .vs__dropdown-toggle {
      border-color: indianred;
      background-color:  #fffafa;
      animation: shake linear 0.3s;
    }
  }
}
.v-select {
  //background: white;

  :hover {
    outline: none;
  }

  &.vs--open {
    .vs__dropdown-toggle {
      border-radius: 4px 4px 0 0;
      border-color: #005590;
      background-image: url(~@/assets/img/icons/sort_focus.svg);
    }

    .vs__open-indicator {
      fill: #005590;
      transform: translateY(-3px) rotate(180deg);
    }
  }

  &.vs--disabled {
    opacity: .7;
  }

  &.no-icon .vs__dropdown-toggle {
    background-image: none;
    padding-left: 16px;
  }
}

.vs__dropdown-toggle {
  border: 2px solid #A9A9A9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 56px;
  padding: 0 16px 0 56px;
  position: relative;
  cursor: pointer;
  background: white url(~@/assets/img/icons/sort.svg) no-repeat left 16px center/24px;
  overflow: hidden;

  .vs__actions {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }

  .vs__open-indicator {
    height: 11px;
    position: absolute;
    right: 15px;
    top: 23px;
    fill: #A9A9A9;
    transition: all .1s linear;
  }

  .vs__clear {
    display: none;
  }

  input {
    width: 100%;
    height: 52px;
    border: 0;
    background: transparent;
    outline: none;
    cursor: inherit;
    pointer-events: none;
  }
}

.vs__dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;

  background: white;
  border: 2px solid #005590;
  border-radius: 0 0 4px 4px;
  width: 100%;
  max-height: 250px;

  li {
    line-height: 56px;
    padding: 0 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
  }
}

.vs--open {
  .vs__selected {
    display: none;
  }
}

.vs__selected {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  height: 52px;
  letter-spacing: 0.2px;
  line-height: 52px;
  position: absolute;
  white-space: nowrap;
}
