.input-group {
  position: relative;
  width: 100%;

  & + & {
    margin-top: 16px;
  }

  &.error .field {
    border-color: indianred;
    color: #cd5c5c;
    background-color: #fffafa;
    animation: shake linear 0.3s;
  }
}

.field {
  height: 56px; width: 100%;
  border: 2px solid #A9A9A9;
  border-radius: 4px;
  padding: 0 16px 0 56px;
  background: white no-repeat left 16px center/24px;

  &:focus {
    border-color: #005590;
    outline: none;
  }

  &.no-icon {
    padding-left: 16px;
  }
}

.submit-btn {
  width: 100%; height: 56px;
  border: none;
  background-color: #005590;
  color: white;
  border-radius: 4px;
  font-weight: bold;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: .95;
  }

  &.error {
    border: 2px solid indianred;
    color: white;
    background-color: indianred;
  }
}

.icon-btn {
  width: 56px; height: 56px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border: 2px solid #A9A9A9;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

input[type='checkbox'] {
  display: none;

  & + label {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      display: flex;
      width: 20px; height: 20px;
      background-color: white;
      border: 1px solid #A9A9A9;
      border-radius: 4px;
      margin-right: 15px;
    }
  }

  &:checked + label::before {
    border-color: #005590;
    background: #005590 url(~@/assets/img/icons/check.svg) no-repeat center/65%;
  }
}
